<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Home V2 | Aubliy Html Template</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">

<link rel="stylesheet" href="../../static/assets/css/jquery-ui.css">

<link rel="stylesheet" href="../../static/assets/css/jquery.fancybox.min.css">

<link rel="stylesheet" href="../../static/assets/css/font-awosome.css">
<link rel="stylesheet" href="../../static/assets/css/ionicons.min.css">

<link rel="stylesheet" href="../../static/assets/flat-font/flaticon.css">

<link rel="stylesheet" href="../../static/assets/css/ticker.min.css">

<link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="../../static/assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="../../static/assets/css/nav-style.css">

<link rel="stylesheet" href="../../static/assets/css/aos.css">
<link rel="stylesheet" href="../../static/assets/css/magnific-popup.css">

<link rel="stylesheet" href="../../static/assets/sliders/slider-1/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" href="../../static/assets/sliders/slider-1/fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="../../static/assets/sliders/slider-1/css/rs6.css">

<link rel="stylesheet" href="../../static/assets/css/style.css">

<link rel="shortcut icon" type="image/png" href="../../static/assets/img/favicon.png">
</head>
<body>

<div id="preloader"></div>


<button class="scroll-top scroll-to-target" data-target="html">
<i class="fas fa-angle-up scrollup-icon"></i>
</button>


<header class="header-area">
<div class="aubliy-nav">
<div class="container c-fulid-max">
<div class="row">
<div class="col-12 col-md-12">
<div class="abuly-menu-style2">
<div class="side-ber">
<div class="sidebar-btn">
<div></div>
<div></div>
<div></div>
</div>
<div class="logo-home2">
<a href="index.html"><img src="../../static/assets/img/Logo.png" alt=""></a>
</div>
</div>
<div class="menu-container">
<div class="menu">
<ul class="clearfix">
<li><a href="#">Home<i class="fas fa-chevron-down"></i></a>
<ul>
<li><a href="index.html">Home 01</a></li>
<li><a href="index-2.html">Home 02</a></li>
<li><a href="index-3.html">Home 03</a></li>
</ul>
</li>
<li><a href="#">Posts<i class="fas fa-chevron-down"></i></a>
<ul>
<li class="frist-li">
<h3>Category</h3>
<ul>
<li><a href="#">Lidership</a></li>
<li><a href="#">History</a></li>
<li><a href="#">Locations</a></li>
<li><a href="#">Careers</a></li>
</ul>
 </li>
<li>
<div class="nav-single-blog">
<div class="nsb-img">
<img src="../../static/assets/img/about/mega4.jpg" alt="">
</div>
<div class="nsb-text">
<span>15 November 2020</span>
<p>5 Ways to Bring the Best of Travel</p>
</div>
</div>
<div class="nav-single-blog">
<div class="nsb-img">
<img src="../../static/assets/img/about/mega1.jpg" alt="">
</div>
<div class="nsb-text">
<span>15 November 2020</span>
<p>Our Complete Guide to the Best Fall</p>
</div>
</div>
</li>
<li>
<div class="nav-single-blog">
<div class="nsb-img">
<img src="../../static/assets/img/about/mega2.jpg" alt="">
</div>
<div class="nsb-text">
<span>15 November 2020</span>
<p>Longchamp Le Pliage 21″ Expandable Travel Bag</p>
</div>
</div>
<div class="nav-single-blog">
<div class="nsb-img">
<img src="../../static/assets/img/about/mega3.jpg" alt="">
</div>
<div class="nsb-text">
<span>15 November 2020</span>
<p>The Wit & Delight Travel Guide</p>
</div>
</div>
</li>
</ul>
</li>
<li><a href="#">Pages<i class="fas fa-chevron-down"></i></a>
<ul>
<li><a href="wgm/1.html">Blog Post 01</a></li>
<li><a href="blog-post-2.html">Blog Post 02</a></li>
<li><a href="blog-post-3.html">Blog Post 03</a></li>
</ul>
</li>
<li><a href="#">Features<i class="fas fa-chevron-down"></i></a>
<ul>
<li><a href="category-1.html">Category 01</a></li>
<li><a href="category-2.html">Category 02</a></li>
<li><a href="category-3.html">Category 03</a></li>
<li><a href="category-4.html">Category 04</a></li>
</ul>
</li>
<li><a href="#">About<i class="fas fa-chevron-down"></i></a>
<ul>
<li><a href="#">About Us</a></li>
<li><a href="#">About Author</a></li>
</ul>
</li>
<li><a href="">Contact</a>
<ul>
<li><a href="contact.html">Contact US</a></li>
</ul>
</li>
<li><a href="#"><i class="flaticon-searching"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>

<div class="side-panel hide">
<div class="sp-box">
<div class="sp-close">
<span class="close-sp"><i class="fas fa-times"></i></span>
</div>
<div class="sp-logo">
<a href="index.html">
</a>
</div>
<div class="sp-text">
<h1>Category</h1>
<div class="sp-catagory">
<ul>
<li>Art & Cultures<span>105</span></li>
<li>Fashion<span>105</span></li>
<li>Life Style<span>105</span></li>
<li>Travels<span>105</span></li>
<li>Health & Wellness<span>105</span></li>
</ul>
</div>
<div class="social">
<p>Follow us</p>
<ul>
<li><a href=""><i class="flaticon-facebook-1"></i></a></li>
<li><a href=""><i class="flaticon-twitter"></i></a></li>
<li><a href=""><i class="flaticon-instagram-1"></i></a></li>
<li><a href=""><i class="flaticon-linkedin"></i></a></li>
<li><a href=""><i class="flaticon-tumblr"></i></a></li>
<li><a href=""><i class="flaticon-dribbble"></i></a></li>
<li><a href=""><i class="flaticon-youtube"></i></a></li>
</ul>
<p>Aubliy is must popular Magazine in United Kingdom Sing 2002.</p>
<p><i class="flaticon-placeholder-1"></i> 25King Street, 5th Avenue, UK</p> 
</div>
</div>
</div>
</div>



<div class="hero-area2">
<div class="container c-fulid-max">
<div class="hero-slider owl-carousel owl-theme">
<div class="item">
<div class="hero-slide">
<div class="hero-s-text">
<p>Interior Design</p>
<h1>Negative Space Is Like Air On Design</h1>
<a href="about-us.html" class="btn-1">Read More</a>
</div>
</div>
</div>
<div class="item">
<div class="hero-slide">
<div class="hero-s-text">
<p>Interior Design</p>
<h1>Negative Space Is Like Air On Design</h1>
<a href="about-us.html" class="btn-1">Read More</a>
</div>
</div>
</div>
<div class="item">
<div class="hero-slide">
<div class="hero-s-text">
<p>Interior Design</p>
<h1>Negative Space Is Like Air On Design</h1>
<a href="about-us.html" class="btn-1">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="popular-blog" data-aos="fade-up" data-aos-duration="1500">
<div class="container">
<div class="pb-top">
<span>Trending Post</span>
<h2>Most Popular</h2>
<a href="" class="btn-1">View All</a>
</div>
<div class="row">
<div class="col-md-4">
<div class="single-popular-blog">
<div class="spb-img">
<img src="../../static/assets/img/blog/blog3.jpg" alt="">
</div>
<div class="spb-text">
<span>Art and Design</span>
<a href="blog-post-3.html"><h4>Morning Rituals That Include Working Out</h4></a>
<a href="about-us.html">Read More<i class="flaticon-right"></i> </a>
</div>
</div>
</div>
<div class="col-md-4">
<div class="single-popular-blog">
<div class="spb-img">
<img src="../../static/assets/img/blog/blog4.jpg" alt="">
</div>
<div class="spb-text">
<span>Health & Wellness</span>
<a href="category-3.html"><h4>Forgive Yourself For Not Being Perfect.</h4></a>
<a href="about-us.html">Read More<i class="flaticon-right"></i> </a>
</div>
</div>
</div>
<div class="col-md-4">
<div class="single-popular-blog">
<div class="spb-img">
<img src="../../static/assets/img/blog/blog5.jpg" alt="">
</div>
<div class="spb-text">
<span>Life Style</span>
<a href="category-2.html"><h4>A Guide to Gifting This Holiday Season</h4></a>
<a href="about-us.html">Read More<i class="flaticon-right"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="blog-details-area" data-aos="fade-up" data-aos-duration="1500">
<div class="container">
<div class="blgd-bef">
</div>
<div class="row">
<div class="col-md-8">
<div class="row">
<div class="col-md-12">
<div class="single-blog-details">
<div class="sbd-img">
<img src="../../static/assets/img/blog/blog-detail1.jpg" alt="">
</div>
<div class="sbd-text">
<p>15 November 2020</p>
<span>Life Style</span>
<a href="category-2.html"><h3>Wit & Delight Prints: Framed, Delivered And Ready To Hang</h3></a>
<a href="about-us.html">Read More</a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="single-blog-details2">
<div class="sbd-img">
<img src="../../static/assets/img/blog/blog6.jpg" alt="">
</div>
<div class="sbd-text">
<span>Life Style</span>
<a href="category-4.html"><h4>25 Gifts to Ask For to Kickstart Your New Year’s.</h4></a>
<a href="about-us.html">Read More<i class="flaticon-right"></i> </a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="single-blog-details3">
<div class="sbd-img">
<img src="../../static/assets/img/blog/blog7.jpg" alt="">
</div>
<div class="sbd-text">
<span>Books & Magazin</span>
<a href="blog-post-2.html"><h4>15 Books to Read if You Need a Mental Health Boost</h4></a>
<a href="about-us.html">Read More</a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="single-blog-details">
<div class="sbd-img">
<img src="../../static/assets/img/blog/blog-detail2.jpg" alt="">
</div>
<div class="sbd-text">
<p>15 November 2020</p>
<span>Fashion</span>
<a href="category-3.html"><h3> The Simple Summer Fashion Staple You Didn’t Know You Needed</h3></a>
<a href="about-us.html">Read More</a>
</div>
</div>
</div>
<div class="col-md-6">
<div class="single-blog-details2">
<div class="sbd-text sbd-text2">
<i class="flaticon-left-quote"></i>
<h4>“There Are Only Two Ways To Live Your Life. One Is As Though Nothing Is A
Miracle. The Other Is As Though Everything Is A Miracle.”</h4>
<small>- Albert Einstein</small>
</div>
</div>
</div>
<div class="col-md-6">
<div class="single-blog-details3">
<div class="sbd-img">
<img src="../../static/assets/img/blog/blog8.png" alt="">
</div>
<div class="sbd-text">
<span>Travel</span>
<a href="blog-post-3.html"><h4>5 Ways to Bring the Best of Travel to Your Daily Life</h4></a>
<a href="about-us.html">Read More</a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="single-blog-details">
<div class="sbd-img">
<img src="../../static/assets/img/blog/blog-detail3.jpg" alt="">
</div>
<div class="sbd-text">
<p>15 November 2020</p>
<span>Relationship</span>
<a href="category-2.html"><h3> How Losing Everything I Owned Changed My Relationship With “Things”</h3></a>
<a href="about-us.html">Read More</a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="pagenation">
<ul>
<li><a href=""><i class="flaticon-left-chevron"></i></a></li>
<li><a href="">1</a></li>
<li><a href="">2</a></li>
<li><a href="">3</a></li>
<li><a href=""><i class="flaticon-right-1"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="blog-sidebar">
<div class="blog-about">
<img src="../../static/assets/img/blog/about.png" alt="">
<h4>About Me</h4>
<p>Far far away, behind the word mountains, far from the countries Vokalia and there the
live the blind texts.</p>
<ul>
<li><a href=""><i class="flaticon-facebook-1"></i></a></li>
<li><a href=""><i class="flaticon-twitter"></i></a></li>
<li><a href=""><i class="flaticon-instagram-1"></i></a></li>
<li><a href=""><i class="flaticon-linkedin"></i></a></li>
<li><a href=""><i class="flaticon-bell"></i></a></li>
</ul>
</div>
<div class="blog-post">
<h4>Latest Blog Posts</h4>
<div class="single-blog-post">
<span>15 November 2020</span>
<h5>Our Complete Guide To The Best Fall Candles</h5>
</div>
<div class="single-blog-post">
<span>15 November 2020</span>
<h5>61 Days Of Festive Activities To Get You To The End Of The Year</h5>
</div>
<div class="single-blog-post">
<span>15 November 2020</span>
<h5>26 Personalized Holiday Gifts To Order Now</h5>
</div>
<div class="single-blog-post">
<span>15 November 2020</span>
<h5>7 Outfits To Copy For Thanksgiving</h5>
</div>
</div>
<div class="catagory">
<h4>Category</h4>
<ul>
<li>Fashion & Beauty <span>15</span> </li>
<li>Life Style <span>20</span> </li>
 <li>Travels <span>13</span> </li>
<li>Technology <span>30</span> </li>
<li>TV, Flims, Books <span>14</span> </li>
<li>Art & Cultures <span>10</span> </li>
<li>Relationship <span>10</span> </li>
</ul>
</div>
<div class="newsletter">
<h4>Newsletter</h4>
<img src="../../static/assets/img/blog/newslater.png" alt="">
<h5>Subscribe To Our Newsletter</h5>
<a href="" class="btn-1">Enter your email address</a>
<a href="" class="btn-2">Subscribe Now</a>
</div>
<div class="all-tags">
<h4>Tags</h4>
<ul>
<li><a href="">Art</a></li>
<li><a href="">Artist</a></li>
<li><a href="">Colour</a></li>
<li><a href="">Design</a></li>
<li><a href="">Freedom</a></li>
<li><a href="">Minimal</a></li>
<li><a href="">Inspiration</a></li>
<li><a href="">Design</a></li>
<li><a href="">Life Styel</a></li>
<li><a href="">Street</a></li>
<li><a href="">Urban</a></li>
<li><a href="">Fashion</a></li>
<li><a href="">Tranding</a></li>
</ul>
</div>
<div class="banner">
<img src="../../static/assets/img/blog/bannar.jpg" alt="">
<h3>Banner</h3>
</div>
</div>
</div>
</div>
<div class="blgd-bef2">
</div>
</div>
</div>


<div class="instragram">
<div class="container" data-aos="fade-up" data-aos-duration="1500">
<div class="top-instragram">
<h2>Our Instragram </h2>
<span>#Lifestyle</span>
</div>
<div class="row">
<div class="col-md-3">
<div class="single-instragram">
<img src="../../static/assets/img/blog/instragram1.jpg" alt="">
<a href=""><i class="flaticon-instagram"></i></a>
</div>
</div>
<div class="col-md-3">
<div class="single-instragram">
<img src="../../static/assets/img/blog/instragram2.jpg" alt="">
<a href=""><i class="flaticon-instagram"></i></a>
</div>
</div>
<div class="col-md-3">
<div class="single-instragram">
<img src="../../static/assets/img/blog/instragram3.jpg" alt="">
<a href=""><i class="flaticon-instagram"></i></a>
</div>
</div>
<div class="col-md-3">
<div class="single-instragram">
<img src="../../static/assets/img/blog/instragram4.jpg" alt="">
<a href=""><i class="flaticon-instagram"></i></a>
</div>
</div>
</div>
</div>
</div>


<div class="footer-area2">
<div class="container">
<div class="footer-details2">
<div class="f-logo">
<img src="../../static/assets/img/Logo.png" alt="">
</div>
<div class="social-menu">
<ul>
<li><a href=""><i class="flaticon-twitter"></i></a></li>
<li><a href=""><i class="flaticon-facebook-1"></i></a></li>
<li><a href=""><i class="flaticon-instagram-1"></i></a></li>
<li><a href=""><i class="flaticon-linkedin"></i></a></li>
<li><a href=""><i class="flaticon-tumblr"></i></a></li>
<li><a href=""><i class="flaticon-dribbble"></i></a></li>
<li><a href=""><i class="flaticon-youtube"></i></a></li>
</ul>
</div>
<div class="f-menu">
<ul>
<li><a href="">About</a></li>
<li><a href="">Posts</a></li>
<li><a href="">Features</a></li>
<li><a href="">About Us</a></li>
<li><a href="">Contact</a></li>
</ul>
</div>
</div>
</div>
</div>
<footer class="footer2">
<div class="container">
<div class="footer-text">
<p>Copyright © 2020 Abuliy! All Rights Reserved By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>
</div>
</div>
</footer>



<script src="../../static/assets/js/jquery-3.6.0.min.js"></script>

<script src="../../static/assets/js/bootstrap.min.js"></script>

<script src="../../static/assets/js/aos.js"></script>

<script src="../../static/assets/js/jquery-ui.js"></script>

<script src="../../static/assets/js/nav-script.js"></script>

<script src="../../static/assets/js/owl.carousel.min.js"></script>

<script src="../../static/assets/sliders/slider-1/js/rbtools.min.js"></script>
<script src="../../static/assets/sliders/slider-1/js/rs6.min.js"></script>
<script src="../../static/assets/sliders/slider-1/js/slideractivation.js"></script>

<script src="../../static/assets/js/jquery.fancybox.min.js"></script>
<script src='../../static/assets/js/jquery.magnific-popup.min.js'></script>

<script src="../../static/assets/js/theme.js"></script>
</body>
</html>
