<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Home V3 | Aubliy Html Template</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">

<link rel="stylesheet" href="../../static/assets/css/jquery-ui.css">

<link rel="stylesheet" href="../../static/assets/css/jquery.fancybox.min.css">

<link rel="stylesheet" href="../../static/assets/css/font-awosome.css">
<link rel="stylesheet" href="../../static/assets/css/ionicons.min.css">

<link rel="stylesheet" href="../../static/assets/flat-font/flaticon.css">

<link rel="stylesheet" href="../../static/assets/css/ticker.min.css">

<link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="../../static/assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="../../static/assets/css/nav-style.css">

<link rel="stylesheet" href="../../static/assets/css/aos.css">
<link rel="stylesheet" href="../../static/assets/css/magnific-popup.css">

<link rel="stylesheet" href="../../static/assets/sliders/slider-1/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" href="../../static/assets/sliders/slider-1/fonts/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="../../static/assets/sliders/slider-1/css/rs6.css">

<link rel="stylesheet" href="../../static/assets/css/style.css">

<link rel="shortcut icon" type="image/png" href="../../static/assets/img/favicon.png">
</head>
<body>

<div id="preloader"></div>


<button class="scroll-top scroll-to-target" data-target="html">
<i class="fas fa-angle-up scrollup-icon"></i>
</button>


<header class="header-area header-area2">
<div class="header-top">
<div class="container-fluid c-fulid-max">
<div class="h2-border">
<div class="row">
<div class="col-md-4 col-4">
<div class="h-social-links">
<ul>
<li><a href=""> <i class="flaticon-facebook-1"></i></a></li>
<li><a href=""> <i class="flaticon-twitter"></i></a></li>
<li><a href=""> <i class="flaticon-instagram-1"></i></a></li>
<li><a href=""> <i class="flaticon-linkedin"></i></a></li>
<li><a href=""> <i class="flaticon-youtube"></i></a></li>
</ul>
</div>
</div>
<div class="col-md-4 col-4">
<div class="aubliy-logo">
<a href="index.html"><img src="../../static/assets/img/Logo2.png" alt=""></a>
</div>
</div>
<div class="col-md-4 col-4">
<div class="header-top-nav">
<div class="search-box">
<input class="search-txt" type="text" placeholder="Type to Search">
<a class="search-btn" href="#">
<i class="flaticon-loupe"></i>
</a>
</div>
<div class="side-ber">
<div class="sidebar-btn sidebar-btn2">
<div></div>
<div></div>
<div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>

<div class="side-panel side-panel2 hide">
<div class="sp-box">
<div class="sp-close">
<span class="close-sp"><i class="fas fa-times"></i></span>
</div>
<div class="sp-logo">
<a href="index.html">
</a>
</div>
<div class="sp-text">
<h1>Category</h1>
<div class="sp-catagory">
<ul>
<li>Art & Cultures<span>105</span></li>
<li>Fashion<span>105</span></li>
<li>Life Style<span>105</span></li>
<li>Travels<span>105</span></li>
<li>Health & Wellness<span>105</span></li>
</ul>
</div>
<div class="social">
<p>Follow us</p>
<ul>
<li><a href=""><i class="flaticon-facebook-1"></i></a></li>
<li><a href=""><i class="flaticon-twitter"></i></a></li>
<li><a href=""><i class="flaticon-instagram-1"></i></a></li>
<li><a href=""><i class="flaticon-linkedin"></i></a></li>
<li><a href=""><i class="flaticon-tumblr"></i></a></li>
<li><a href=""><i class="flaticon-dribbble"></i></a></li>
<li><a href=""><i class="flaticon-youtube"></i></a></li>
</ul>
<p>Aubliy is must popular Magazine in United Kingdom Sing 2002.</p>
<p><i class="flaticon-placeholder-1"></i> 25King Street, 5th Avenue, UK</p>
</div>
</div>
</div>
</div>



<div class="hero-area3">
<div class="container-fulid">
<div class="hero-slider owl-carousel owl-theme">
<div class="item">
<div class="hero-slide">
<img src="../../static/assets/img/hero/hero3.jpg" alt="">
<div class="hero-s-text" data-aos="fade-up" data-aos-duration="2000">
<span>Urban Style</span>
<h1>Little Things Do Make A Differnce</h1>
<img src="../../static/assets/img/hero/element.png" alt="">
</div>
</div>
</div>
<div class="item">
<div class="hero-slide">
<img src="../../static/assets/img/hero/hero3.jpg" alt="">
<div class="hero-s-text" data-aos="fade-up" data-aos-duration="2000">
<span>Urban Style</span>
<h1>Little Things Do Make A Differnce</h1>
<img src="../../static/assets/img/hero/element.png" alt="">
</div>
</div>
</div>
<div class="item">
<div class="hero-slide">
<img src="../../static/assets/img/hero/hero3.jpg" alt="">
<div class="hero-s-text" data-aos="fade-up" data-aos-duration="2000">
<span>Urban Style</span>
<h1>Little Things Do Make A Differnce</h1>
<img src="../../static/assets/img/hero/element.png" alt="">
</div>
</div>
</div>
</div>
</div>
</div>


<div class="treand">
<div class="container" data-aos="fade-up" data-aos-duration="1500">
<div class="row">
<div class="col-md-8">
<div class="treanding-img">
<img src="../../static/assets/img/hero/treand.jpg" alt="">
</div>
</div>
<div class="col-md-4">
<div class="treanding-text">
<h3>Trending Now</h3>
<div class="single-trean">
<span>01</span>
<h4>What To Read, Watch, & Listen To This Weekend Based On Your Enneagram</h4>
</div>
<div class="single-trean">
<span>02</span>
<h4>Why Imposter Syndrome Can Make You Your Own Worst Enemy</h4>
</div>
<div class="single-trean">
<span>03</span>
<h4>A Peek Into The Life Of Founder And Creative Director, Kate Arends</h4>
</div>
<div class="single-trean">
<span>04</span>
<h4>5 Easy Homemade Pizza Recipes For Your Next Night In</h4>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="portfolio">
<div class="container">
<h2>Editor's Pick</h2>
<div class="row">
<div class="col-md-4">
<div class="row">
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="1500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio1.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-2.html"><h4>Fashion We’re Loving From Eid Celebrations</h4></a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="2500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio4.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-3.html"><h4>4 Ways A Hobby Can Boost Self-Confidence</h4></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="row">
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="1500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio2.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-4.html"><h4>Fashion We’re Loving From Eid Celebrations</h4></a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="2500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio5.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-3.html"><h4>Kate’s Must-Have Fall Fashion Essentials</h4></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="row">
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="1500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio3.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Travel</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-3.html"><h4>A Guide To Gifting This Holiday Season</h4></a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="2500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio6.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020</p>
<a href="about.html"><h4>Spending time in the nature is Good for health</h4>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="plant-slide-area plant-slide-area2">
<div class="container" data-aos="fade-up" data-aos-duration="1500">
<div class="plant-slider  owl-carousel owl-theme">
<div class="item">
<div class="single-p-slide">
<img src="../../static/assets/img/blog/plant-slider.jpg" alt="">
<div class="video">
<a href="https://www.youtube.com/watch?v=3FM1waTeTDE" class="expand-video btn-h"><i class="fa fa-play"></i></a>
 </div>
<div class="p-slider-text">
<p>Interiors & Decor</p>
<a href="category-4.html"><h2>How To Become A Plant Person When You’re Super Busy And Kinda Lazy</h2></a>
</div>
</div>
</div>
<div class="item">
<div class="single-p-slide">
<img src="../../static/assets/img/blog/plant-slider.jpg" alt="">
<div class="video">
<a href="https://www.youtube.com/watch?v=3FM1waTeTDE" class="expand-video btn-h"><i class="fa fa-play"></i></a>
</div>
<div class="p-slider-text">
<p>Interiors & Decor</p>
<a href="category-4.html"><h2>How To Become A Plant Person When You’re Super Busy And Kinda Lazy</h2></a>
</div>
</div>
</div>
<div class="item">
<div class="single-p-slide">
<img src="../../static/assets/img/blog/plant-slider.jpg" alt="">
<div class="video">
<a href="https://www.youtube.com/watch?v=3FM1waTeTDE" class="expand-video btn-h"><i class="fa fa-play"></i></a>
</div>
<div class="p-slider-text">
<p>Interiors & Decor</p>
<a href="category-4.html"><h2>How To Become A Plant Person When You’re Super Busy And Kinda Lazy</h2></a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="portfolio">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="row">
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="1500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio7.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-2.html"><h4>Spending Time In The Nature is Good For Health</h4></a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="2500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio10.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-3.html"><h4>4 Ways A Hobby Can Boost Self-Confidence</h4></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="row">
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="1500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio8.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-3.html"><h4>Fashion We’re Loving From Eid Celebrations</h4></a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="2500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio11.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-2.html"><h4>Kate’s Must-Have Fall Fashion Essentials</h4></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="row">
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="1500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio9.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Travel</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020 </p>
<a href="category-4.html"><h4>A Guide To Gifting This Holiday Season</h4></a>
</div>
</div>
</div>
<div class="col-md-12">
<div class="single-portfolio" data-aos="fade-up" data-aos-duration="2500">
<div class="sp-img">
<img src="../../static/assets/img/portfolio/portfolio12.jpg" alt="">
</div>
<div class="sp-text">
<div class="img-tag">
<span class="it1">Life Style</span>
<span>05 Min Read</span>
</div>
<p>18 November 2020</p>
<a href="about-us.html"><h4>Spending time in the nature is Good for health</h4></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="subscrive">
<div class="container" data-aos="fade-up" data-aos-duration="1500">
<div class="subs-area">
<div class="row">
<div class="col-md-7 pr-0">
<div class="subs-img">
<img src="../../static/assets/img/blog/subscrive.jpg" alt="">
</div>
</div>
<div class="col-md-5 pl-0">
<div class="subs-content">
<div class="subs-text">
<h3>Get Exclusive Content</h3>
<p>Consectetur adipiscing elit. Ut elit tellus,</p>
<div class="input-group">
<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
<div class="input-group-append">
<span class="input-group-text" id="basic-addon2"><i class="flaticon-envelope"></i></span>
</div>
</div>
<a href="" class="btn-1">Subscribes</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="instragram instragram2">
<div class="container" data-aos="fade-up" data-aos-duration="1500">
<div class="top-instragram">
<h2>Our Instragram </h2>
<span>@Yourname</span>
<span>#Lifestyle</span>
</div>
<div class="row">
<div class="col-md-3">
<div class="single-instragram">
<img src="../../static/assets/img/blog/instragram1.jpg" alt="">
<a href=""><i class="flaticon-instagram"></i></a>
</div>
</div>
<div class="col-md-3">
<div class="single-instragram">
<img src="../../static/assets/img/blog/instragram2.jpg" alt="">
<a href=""><i class="flaticon-instagram"></i></a>
</div>
</div>
<div class="col-md-3">
<div class="single-instragram">
<img src="../../static/assets/img/blog/instragram3.jpg" alt="">
<a href=""><i class="flaticon-instagram"></i></a>
</div>
</div>
<div class="col-md-3">
<div class="single-instragram">
<img src="../../static/assets/img/blog/instragram4.jpg" alt="">
<a href=""><i class="flaticon-instagram"></i></a>
</div>
</div>
</div>
</div>
</div>


<div class="footer-area2 footer-area3">
<div class="container">
<div class="footer-details2">
<div class="f-logo">
<img src="../../static/assets/img/Logo2.png" alt="">
</div>
<div class="social-menu">
<ul>
<li><a href=""><i class="flaticon-twitter"></i></a></li>
<li><a href=""><i class="flaticon-facebook-1"></i></a></li>
<li><a href=""><i class="flaticon-instagram-1"></i></a></li>
<li><a href=""><i class="flaticon-linkedin"></i></a></li>
<li><a href=""><i class="flaticon-tumblr"></i></a></li>
<li><a href=""><i class="flaticon-dribbble"></i></a></li>
<li><a href=""><i class="flaticon-youtube"></i></a></li>
</ul>
</div>
<div class="f-menu">
<ul>
<li><a href="about-us.html">About</a></li>
<li><a href="category-2.html">Posts</a></li>
<li><a href="blog-post-2.html">Features</a></li>
<li><a href="about.html">About Us</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</div>
</div>
</div>
</div>
<footer class="footer2 footer3">
<div class="container">
<div class="footer-text">
<p>Copyright © 2020 Abuliy! All Rights Reserved By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>
</div>
</div>
</footer>



<script src="../../static/assets/js/jquery-3.6.0.min.js"></script>

<script src="../../static/assets/js/bootstrap.min.js"></script>

<script src="../../static/assets/js/aos.js"></script>

<script src="../../static/assets/js/jquery-ui.js"></script>

<script src="../../static/assets/js/nav-script.js"></script>

<script src="../../static/assets/js/owl.carousel.min.js"></script>

<script src="../../static/assets/sliders/slider-1/js/rbtools.min.js"></script>
<script src="../../static/assets/sliders/slider-1/js/rs6.min.js"></script>
<script src="../../static/assets/sliders/slider-1/js/slideractivation.js"></script>

<script src="../../static/assets/js/jquery.fancybox.min.js"></script>
<script src='../../static/assets/js/jquery.magnific-popup.min.js'></script>

<script src="../../static/assets/js/theme.js"></script>
</body>
</html>
